@import '../../../style/styles';

.size {
  padding: 40px 30px;
  border: 1px solid $border;
  &__header {
    margin-bottom: 40px;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title;
  }
  &__form-label {
    display: block;
    padding-left: 35px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__form-input {
    @extend %checkbox-hidden;
    
    &:checked+.size__form-radio {
      border-color: $accent;
      background-image: url('../../../image/icons/check-size-on.svg');
      background-repeat: no-repeat;
      background-position: center;

      &+.size__form-text {
        color: $accent;
      }
    }
  }
  &__form-radio {
    position: absolute;
    margin-left: -35px;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid $default;
    border-radius: 50%;
  }
}

@media(max-width: 860px) {
  .size {
    padding: 20px 15px;
    &__header {
      margin-bottom: 20px;
    }
    &__form {
      display: flex;
    }
    &__form-label {
      margin: 0 15px;
      display: flex;
      align-items: center;
      &:first-child {
        margin-left: 0;
      }
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

@media(max-width: 760px) {
  .size {
    &__form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px
    }
    &__form-label {
      margin: 0;
    }
      &:first-child {
        margin-left: 0;
      }
  }
}
@media(max-width: 420px) {
  .size {
    &__form {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
