@import '../../../style/styles';

.size {
  padding: 40px 30px;
  border: 1px solid $border;
  &__header {
    margin-bottom: 40px;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title;
  }
  &__form-label {
    display: block;
    padding-left: 35px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__form-input {
    @extend %checkbox-hidden;
    
    &:checked+.size__form-radio {
      border-color: $accent;
      background-image: url('../../../image/icons/check-size-on.svg');
      background-repeat: no-repeat;
      background-position: center;

      &+.size__form-text {
        color: $accent;
      }
    }
  }
  &__form-radio {
    position: absolute;
    margin-left: -35px;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid $default;
    border-radius: 50%;
  }
}