@import '../../style/styles';

.order-form {
  width: 100%;
  padding: 15px;
  &__input {
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 15px;
    border: none;
    background-color: $bg;
    outline-color: $accent;
  }
  &__inner {
    display: flex;
    .order-form__input:first-child {
      margin-right: 10px;
    }
  }
  &__btn {
    @extend %btn;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    background-color: $title;
    box-shadow: none;
    letter-spacing: 2px;
    transition: all .3s;
    &:hover {
      background-color: $accent;
      box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }
  }
}