@import '../../../style/styles';

.category {
  padding: 40px 30px;
  border: 1px solid $border;
  &__header {
    margin-bottom: 40px;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title;
  }
  &__form-label {
    display: block;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__form-box {
    padding: 12px 20px;
    color: $title;
    background-color: $bg;
    cursor: pointer;
  }
  &__form-input {
    @extend %checkbox-hidden;
    &:checked+.category__form-box {
      color: #fff;
      background-color: $accent;
    }
  }
}

@media(max-width: 860px) {
  .category {
    padding: 20px 15px;
    &__header {
      margin-bottom: 20px;
    }
    &__form {
      display: flex;
    }
    &__form-label:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }
}
@media(max-width: 500px) {
  .category {
    &__form {
      flex-direction: column;
    }
    &__form-label:not(:last-child) {
      margin: 0 0 15px;
    }
  }
}
