@import 'vars';

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin:  0 auto;
}

.top-container {
  max-width: 1730px;
  padding: 120px 0 130px;
  margin: 0 auto;
  text-align: center;
  background-image: url('../image/top-bg.jpg');
}

.modal__form-error {
  color: $accent;
}

.title {
  @extend %roboto-700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: $title;
}

//button[disabled].modal__button {
//  background-color: #bb9191;
//  cursor: default;
//}

//body {
//  margin: 0;
//  height: 100%;
//  @extend %quicksand-500;
//  font-size: 16px;
//  line-height: 26px;
//  color: $default;
//}



