@import 'vars';

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin:  0 auto;
}

.top-container {
  max-width: 1730px;
  padding: 120px 0 130px;
  margin: 0 auto;
  text-align: center;
  background-image: url('../image/top-bg.jpg');
}

.modal__form-error {
  color: $accent;
}

.title {
  @extend %roboto-700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: $title;
}

@media(max-width: 1085px) {
  .title {
    font-size: 41px;
    line-height: 41px;
  }
}
@media(max-width: 960px) {
  .title {
    font-size: 29px;
    line-height: 29px;
  }
}