@import '../../style/styles';

.error404 {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    margin-right: 50px;
    width: 100%;
    max-width: 570px;
  }
  &__title.title {
    text-align: left;
    margin-bottom: 30px;
  }
  &__text {
    max-width: 450px;
    margin-bottom: 60px;
  }
  &__link {
    @extend %btn;
    padding: 16px 33px;
  }
  &__img-wrapper {
    width: 100%;
    max-width: 550px;
  }
  &__img {
    object-fit: cover;
  }
}