@import '../../style/styles';

.footer {
  padding-top: 75px;
  background-color: $bg;

  &__top {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;
  }

  &__top-item {
    width: 100%;
    max-width: 470px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__top-item--contacts {
    max-width: 235px;
    line-height: 36px;
  }

  &__top-item--links,
  &__top-item--account {
    max-width: 150px;
    line-height: 36px;
  }

  &__top-address {
    margin-top: 35px;
    margin-bottom: 10px;
    @extend %quicksand-500;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
  }

  &__top-email,
  &__top-phone {
    display: block;
    color: $default;
    transition: color .3s;
    &:hover {
      color: $accent;
    }
  }

  &__top-social-list {
    margin: 20px 0 0;
    display: flex;
  }

  &__top-social-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
    transition: all .3s;
    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__top-item-title {
    margin-bottom: 40px;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 22px;
    color: $title;
  }

  &__top-link {
    color: $default;
    transition: color .3s;
    &:hover {
      color: $accent;
    }
    &.footer__top-link--inactive {
      pointer-events: none;
      cursor: default;
    }
  }

  &__top-item-text {
    margin: 45px 0 30px;
    max-width: 460px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__form-input {
    width: 320px;
    padding: 0 15px;
    border: none;
    outline-color: $accent;
  }

  &__form-btn {
    @extend %btn;
    border: none;
  }

  &__bottom {
    padding: 27px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 34px;
  }
  &__bottom-accept {
    display: flex;
    align-items: center;
  }
  &__bottom-accept-img {
    margin-left: 25px;
  }
}

@media(max-width: 1050px) {
  .footer {
    &__top {
      flex-wrap: wrap;
    }
    &__top-item-form {
      margin-top: 30px;
      max-width: 100%;
    }
    &__top-item-text {
      max-width: 100%;
    }
    &__form {
      justify-content: flex-start;
    }
  }
}
@media(max-width: 760px) {
  .footer {
    &__top {
      justify-content: flex-start;
    }
    &__top-item--contacts {
      margin-bottom: 30px;
      max-width: 100%;
    }
    &__top-item-title {
      margin-bottom: 20px;
    }
    &__top-item-text {
      margin: 0 0 30px;
    }
  }
}
@media(max-width: 600px) {
  .footer {
    &__bottom {
      padding: 20px 0;
      justify-content: center;
    }
    &__bottom-copyright {
      width: 100%;
      text-align: center;
    }
  }
}
@media(max-width: 420px) {
  .footer {
    &__top-item-title {
      margin-bottom: 15px;
    }
    &__form {
      flex-wrap: wrap;
    }
    &__form-input {
      width: 100%;
      margin-bottom: 15px;
      padding: 12px 15px;
    }
    &__form-btn {
      width: 100%;
    }
  }
}