.shop {
  padding: 120px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__filters {
    width: 100%;
    max-width: 370px;
  }
  &__filters-item:not(:last-child) {
    margin-bottom: 40px;
  }
  &__items {
    width: 100%;
    max-width: 770px;

    display: flex;
    flex-direction: column;
  }
  &__items-inner {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
  }
}