@import '../../style/styles';

.card {
  width: 100%;
  max-width: 370px;
  &:hover {
    .card__links {
      transform: translate(-50%, 0%);
    }
  }
  &__img-wrapper {
    max-width: 370px;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &__sale {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 2px 9px;
    @extend %roboto-400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: $accent;
  }
  &__links {
    transition: transform .4s;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 300%);
    width: 100%;
    max-width: 212px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
    border-radius: 23px;
  }
  &__link--btn {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  &__link {
    padding: 5px 25px;
    display: flex;
    align-items: center;
    transition: all .3s;
    &:hover {
      path {
        fill: $accent;
      }
    }
    &:nth-child(2) {
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }
  }
  &__content {
    padding: 30px 0 20px;
    text-align: center;
  }
  &__title {
    margin-bottom: 10px;
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
  }
  &__price {
    display: inline-flex;
    margin: 0 auto;
  }
  &__price-old {
    @extend %roboto-400;
    color: $title;
  }
  &__price-old.card__price-old--line-throw {
    margin-left: 20px;
    text-decoration: line-through;
    color: #ccccce;
  }
  &__price-current {
    @extend %roboto-500;
    color: $title;
  }

//if view list

  &.card--list {
    width: 100%;
    max-width: 770px;
    display: flex;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    .card__img-wrapper {
      width: 100%;
      max-width: 200px;
      padding-top: 32.5%;
    }
    .card__img {
      height: 100%;
    }
    .card__sale {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 0px 7px;
      font-size: 14px;
    }
    .card__links--list {
      bottom: 100px;
      max-width: 115px;
      justify-content: space-between;
      background-color: transparent;
      box-shadow: none;
      border-radius: unset;
    }
    .card__link {
      padding: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      &:hover {
        path {
          fill: $accent;
        }
      }
      &:nth-child(2) {
        border: none;
      }
    }
    .card__content {
      padding: 25px 40px;
      text-align: left;
      border: 1px solid $border;
      border-left: none;
      position: relative;
    }
    .card__title {
      @extend %roboto-500;
    }
    .card__content-inner {
      display: inline-flex;
    }
    .card__price {
      margin-right: 40px;
    }
    .card__content-text {
      margin-bottom: 25px;
    }
    .card__content-button {
      padding: 12px 40px;
      border: none;
      background-color: $title;
      @extend %roboto-400;
      color: #fff;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        background-color: $accent;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
      }
    }
  }

}
