@import '../../style/styles';

.lostPasswordPopUp {
  padding: 120px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    width: 50%;
  }
  &__form-input {
    margin-bottom: 30px;
    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
    height: 60px;
    border: none;
    background-color: $bg;
    outline-color: $accent;
  }
  &__form-btn,
  &__close-btn {
    display: block;
    margin: 15px auto;
    width: 50%;
    @extend %btn;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
  }
  &__form-btn.close {
    background-color: $title;
    box-shadow: none;
  }
  &__info {
    text-align: center;
  }
}