@import '../../style/styles';

.video {
  padding: 120px 0;
  background-color: $bg;
  background-image: url('../../image/decor/video-bg.svg');

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img-wrapper {
    margin-right: 60px;
    width: 100%;
    max-width: 535px;
    position: relative;
  }
  &__img {
    object-fit: cover;
  }
  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__content {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__subtitle {
    margin-bottom: 25px;
    font-size: 22px;
    text-transform: uppercase;
    color: $accent;
  }
  &__title {
    text-align: left !important;
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 60px;
  }
  &__button {
    @extend %btn;
    max-width: 160px;
    text-align: center;
    letter-spacing: 2px;
  }
  &__player-close--show {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      path {
        fill: $accent;
        transition: all .3s;
      }
    }
  }
  &__player-close {
    display: none;
  }
  .rh5v-DefaultPlayer_component.video__player {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .rh5v-DefaultPlayer_component.video__player--show {
    display: unset;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

