@import '../../style/styles';

.categories-info {
  padding: 120px 0;
  background-image: url('../../image/decor/categories-info-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.info {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -43px;
    z-index: -1;
    width: 120px;
    height: 121px;
    background-image: url('../../image/decor/info-1.svg');
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    right: -24px;
    z-index: -1;
    width: 65px;
    height: 52px;
    background-image: url('../../image/decor/info-2.svg');
  }
  &__item {
    padding: 60px 40px;
    width: 100%;
    max-width: 370px;
    background-color: #fff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }
  &__item-title {
    margin: 40px 0 15px;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 26px;
    color: $title;
  }
}

.categories {

  &__title {
    margin-bottom: 30px;
  }
  &__text {
    max-width: 530px;
    margin: 0 auto 60px;
    text-align: center;
  }
  &__items {
    min-height: 636px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__item:nth-child(1) {
    grid-row: span 2;
    background-image: url('../../image/categories/item-1.jpg');
    .categories__item-subtitle,
    .categories__item-link:hover {
      color: #5800e4;
    }
  }
  &__item:nth-child(2) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../image/categories/item-2.jpg');
    .categories__item-subtitle,
    .categories__item-link:hover {
      color: $accent;
    }
  }
  &__item:nth-child(3) {
    background-image: url('../../image/categories/item-3.jpg');
    .categories__item-subtitle,
    .categories__item-link:hover {
      color: #ffb534;
    }
  }
  &__item:nth-child(4) {
    background-image: url('../../image/categories/item-4.jpg');
    .categories__item-subtitle,
    .categories__item-link:hover {
      color: #34c3ff;
    }
  }
  &__item-title {
    @extend %roboto-500;
    font-size: 22px;
    color: $title;
  }
  &__item-link {
    @extend %roboto-400;
    text-transform: uppercase;
    color: $title;
    transition: color .3s;
  }
}

@media(max-width: 1235px) {
  .info {
    padding: 0 30px;
    justify-content: space-between;
    &::before {
      left: -10px;
    }
    &::after {
      right: 6px;
    }
    &__item {
      padding: 40px 20px;
    }
  }
}
@media(max-width: 1200px) {
  .categories {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
    &__item {
      background-position: center top;
    }
    &__item:nth-child(1) {
      grid-row: auto;
    }
    &__item:nth-child(2) {
      grid-column: auto;
      background-position: center right;
      justify-content: flex-start;
    }
  }
}
@media(max-width: 1050px) {
  .info {
    &__item {
      padding: 30px 18px;
    }
    &__item-title {
      margin: 30px 0 10px;
      font-size: 20px;
    }
  }
}
@media(max-width: 960px) {
  .categories-info {
    padding: 90px 0;
  }
  .info {
    margin-bottom: 90px;
    flex-direction: column;
    &__item {
      max-width: 100%;
    }
    &__item-title {
      font-size: 22px;
    }
  }
}
@media(max-width: 760px) {
  .categories {
    &__item {
      background-size: contain;
      background-position: right top;
    }
    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    &__item:nth-child(1) {
      background-color: #F4DFF0;
    }
    &__item:nth-child(2) {
      background-color: #D7EFEF;
    }
    &__item:nth-child(3) {
      background-color: #FFF6A7;
    }
    &__item:nth-child(4) {
      background-color: #EDEDED;
    }
  }
}
@media(max-width: 500px) {
  .categories {
    &__item-title {
      font-size: 18px;
    }
    &__item-subtitle,
    &__item-link {
      font-size: 16px;
    }
  }
}
@media(max-width: 420px) {
  .info {
    &__item-title {
      font-size: 18px;
      margin: 15px 0 10px;
    }
    &__item-text {
      text-align: justify;
    }
  }
  .categories {
    &__item {
      padding: 20px;
    }
    &__text {
      text-align: justify;
    }
  }
}

