doctype html
html
    head
        style
            include style.css
    body
        header.header
            h1 project MARCHO project
        main.main
            block content
        footer.footer
            h3 project MARCHO project