@import '../../style/styles';
@import '../registerForm/registerForm';

.modal {
  &__lost-password-link {
    margin-top: 20px;
    color: $default;
    &:hover {
      color: $accent;
    }
  }

}
  button[disabled].modal__button-login {
    background-color: #bb9191;
    cursor: default;
  }

