@import '../../style/styles';

.pagination {
  text-align: center;
  &__inner {
    display: inline-flex;
  }
  &__prev-button,
  &__next-button {
    padding: 0 16px 0 32px;
    border: 1px solid $border;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $default;
    position: relative;
    transition: box-shadow .3s;
    &:hover {
      box-shadow: rgba(254, 62, 87, 0.16) 0px 5px 18px 0px, rgba(254, 62, 87, 0.1) 0px 0px 0px 1px;
      transition: box-shadow .3s;
    }
    &:disabled {
      box-shadow: none;
      cursor: default;
    }
  }
  &__next-button {
    padding: 0 32px 0 16px;
  }
  &__prev-button::before,
  &__next-button::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 10px;
  }

  &__prev-button::before {
    left: 16px;
    background-image: url('../../image/icons/prev-btn-arrow.svg');
  }
  &__next-button::after {
    right: 16px;
    background-image: url('../../image/icons/next-btn-arrow.svg');
  }

  &__nums {
    margin: 0 18px;
    padding: 0 16px;
    border: 1px solid $border;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 15px;
  }
  &__nums-current {
    color: $accent;
    font-size: 18px;
  }
  &__nums-text {
    padding: 0 5px;
  }
  &__nums-total {
    color: $title;
    font-size: 18px;
  }
}